/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/:root */
    /* Universal selector has no specificity so looses with :root or html selector */
    /* Psudo elements have less specificty same as html element viz less than pseudo class and class */
    /* https://teamtreehouse.com/community/what-is-the-difference-between-and-root-functionalities */
    --lemon: #146152;
    --kiwi: #44803F;
    --lime: #B4CF66;
    --yellow: #FFEC5C;
    --orange: #FF5A33;
    --mint: #008F8C;
    --font-size: 1.3rem; /* https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units */

}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--kiwi);
    color: white;
}
/*
        By default heading have margin of 1em assigned to them
        em is a relative size, 1em on H1 is bigger from 1em on para
        We can disable this by doing margin: 0
*/
/*
    Its a good idea to style your links with text decoration along with 
    color, as some people can be color blind approx 10% people are.
*/
h1, h2, h3 {
    margin: 0;
}

/* Colored sections */
.section-mint {
    background-color: var(--mint);
}

/* Intro section styling */
#intro {
    /*padding-bottom: 10rem;*/ /* Will give us some spacing before the next section, won't see any change currently */
    padding: 4rem 1rem 10rem 1rem; /* T R B L*/
    max-width: 1200px;
    margin: 0 auto; /* will center things nicely*/
}

#intro p {
    /* styles all paragraphs inside intro */
    font-size: 1rem; 
    line-height: 1.5; /*if you will give some unit then this will not be an absolute line height that can change w.r.t zoom in zoom out, try with 5.5px and show*/
}

.name span {
    /* style all span inside .name */
    font-size: 4rem;
    color: var(--yellow);
    display: block; /* convert span to block */
}

#intro h2 {
    /* style all h2 inside intro */
    font-size: 4rem;
    font-weight: normal;
}

/* Hire me section */
#hire {
    width: 400px; /* This will give the hire section a width, you can see the text will wrap itself*/ /* try removing this and see what happens and why u need outer div*/
    text-align: center; 
    margin: 0 auto; /* 2 values in margin makes 0 to be applied on top and bottom and auto says that align the left and right margin automatically, by keeping the current width of div and then give all available space of the parent  */
    padding: 3rem 0; /* top bottom takes first param and left right as 0 */
    background-color: var(--mint); /* after putting this style, it will create a box and just color that, to resolve it we need to add a parent div, and this happens as we say it to take 400px width*/
}

#hire p:last-child {
    margin-top: 3rem; /* give top margin to the last p tag of #hire */
}

/* Navbar styling */
nav {
    font-size: 80%; /* reduce font size of everything in nav proportinally by 80%*/
    padding: 1rem; /* Give padding from top left right bottom */
}

nav ul {
    list-style-type: none; /* This removes the bullets but doesnt remove the space as it can be given by margin or padding based on browser so give padding and margin 0 */
    padding: 0; /* this will bring the nav to the left */
    margin: 0; /* this will bring the nav to the left */
    display: flex;
    flex-flow: row wrap; /*Read mdn*/
    justify-content: center; /* applies to the horizontal axis */
    align-items: center; /* applied to vertical axis */
    gap: 2rem; /* new property added, gives equivalent gap between items of flex box */
}

nav li:first-child {
    flex-basis: 100%; /* to give the first li 100% width of the flex, other items have to go to next line */
    text-align: center;
    /* border: 1px solid red; debugger */
}

nav a {
    color: white;
    text-decoration: none; /* makes sure that link doesnt underline */
    display: block; /* Not necessary, but makes the anchor tag to take more space */
}

nav a:hover {
    color: var(--orange);
}

/* Styling resume link as a button */
.button {
    background-color: var(--orange);
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.button:hover {
    color: white;
    background-color: var(--lime);
}

footer {
    text-align: center;
    padding: 4rem 0;
}

@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto; /* will center things nicely*/
    }
    nav li:first-child {
        flex-basis: auto; /* brings back to default flex box settings in wider screen , this takes everything and aligns it to the center, currently extra space is evenly split on left and right */
        margin-right: auto; /* takes all the space from left and right and add it in between , https://cssreference.io/property/margin-right/*/
    }
}