/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/:root */
    /* Universal selector has no specificity so looses with :root or html selector */
    /* Psudo elements have less specificty same as html element viz less than pseudo class and class */
    /* https://teamtreehouse.com/community/what-is-the-difference-between-and-root-functionalities */
    --lemon: #146152;
    --kiwi: #44803F;
    --lime: #B4CF66;
    --yellow: #FFEC5C;
    --orange: #FF5A33;
    --font-size: 1.3rem; /* https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units */

}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--kiwi);
    color: white;
}
/*
        By default heading have margin of 1em assigned to them
        em is a relative size, 1em on H1 is bigger from 1em on para
        We can disable this by doing margin: 0
*/
/*
    Its a good idea to style your links with text decoration along with 
    color, as some people can be color blind approx 10% people are.
*/
h1, h2, h3 {
    margin: 0;
}

/* Intro section styling */
#intro {
    padding-bottom: 10rem; /* Will give us some spacing before the next section, won't see any change currently */
}

#intro p {
    /* styles all paragraphs inside intro */
    font-size: 1rem; 
    line-height: 1.5; /*if you will give some unit then this will not be an absolute line height that can change w.r.t zoom in zoom out, try with 5.5px and show*/
}

.name span {
    /* style all span inside .name */
    font-size: 4rem;
    color: var(--yellow);
    display: block; /* convert span to block */
}

#intro h2 {
    /* style all h2 inside intro */
    font-size: 4rem;
    font-weight: normal;
}

/* Hire me section */
#hire {
    width: 400px; /* This will give the hire section a width, you can see the text will wrap itself*/
    text-align: center; 
    margin: 0 auto; /* 2 values in margin makes 0 to be applied on top and bottom and auto says that align the left and right margin automatically, by keeping the current width of div and then give all available space of the parent  */
    padding: 3rem 0; /* top bottom takes first param and left right as 0 */
}

#hire p:last-child {
    margin-top: 3rem; /* give top margin to the last p tag of #hire */
}

/* Navbar styling */
nav {
    font-size: 80%; /* reduce font size of everything in nav proportinally by 80%*/
    padding: 1rem; /* Give padding from top left right bottom */
}

nav ul {
    list-style-type: none; /* This removes the bullets but doesnt remove the space as it can be given by margin or padding based on browser so give padding and margin 0 */
    padding: 0; /* this will bring the nav to the left */
    margin: 0; /* this will bring the nav to the left */
    display: flex;
    flex-flow: row wrap; /*Read mdn*/
    justify-content: center; /* applies to the horizontal axis */
    align-items: center; /* applied to vertical axis */
    gap: 2rem; /* new property added, gives equivalent gap between items of flex box */
    
}