html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.static {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50px;
}

.moving {
    width: 50px;
    height: 50px;
    border: 5px solid red;
    /* border-top: none; */
    background-color: blue;
    border-radius: 25px;
    animation-name: rotator;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}

@keyframes rotator {
    0% {
        transform: translateX(-500px);
        /* transform: rotate(0);
        background-color: blue; */
    }
    50% {
        /* background-color: green; */
        transform: translateX(500px);
    }
    100% {
        transform: translateX(-500px);
        /* transform: rotate(180deg);
        background-color: red; */
    }
}

.moving:hover {
    transform: rotate(180deg);
    background-color: red;
    /* margin-left: 2000px; */
    /* 
    transition-delay: 0;  start making the state change after 1s
    transition-duration: 5s;  take 5s after the start to move to the final state
    transition-property: all;
    transition-timing-function: ease-out;
    */
    /* transition: all 5s 1s ease-out; */
    /* animation-name: rotator;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: ease-out; */
}

