.product-details-wrapper {
    padding-top: 3rem;
}

.product-img {
    flex-basis: 30%;
}

.product-img img {
    width: 100%;
}

.product-details-box {
    flex-basis: 60%;
}

.product-name {
    font-size: 3rem;
}

.product-price {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

.product-description {
    margin-top: 1.5rem;
}

.product-description-title {
    color: var(--mid-gray);
    margin-bottom: 1rem;
}

.product-description-data {
    font-size: 1rem;
    line-height: 1.75;
    text-align: justify;
}

.product-details-action {
    margin-top: 1.5rem;
    width: 250px;
}