html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

:root {
    --light-gray: #7284a1;
}

.input-section {
    gap: 2rem;
    margin-top: 2rem;
}

.todo-input {
    flex-basis: 60%;
}

.list-todo-heading > div {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.todo-no {
    flex-basis: 3%;
}

.todo-detail {
    flex-basis:55%;
}

.todo-status {
    flex-basis: 10%;
}

.todo-actions {
    flex-basis: 15%;
}

.todo-actions button {
    /* padding-top: 0.7rem;
    padding-bottom: 0.7rem; */
}

.todo-item {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
