html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}
body {
    height: 100%;
    overflow-y: hidden;
 }
#ping-pong-table {
    border: 2px solid black;
    height: 400px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: relative;
}

#paddle-setup {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 50%;
    align-items: center;
}

#paddle {
    background-color: blue;
    width: 10px;
    height: 70px;
    margin-left: 2px;
    position: absolute;
}

#ball {
    background-color: tomato;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
}