html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#ping-pong-table {
    border: 2px solid black;
    width: 700px;
    height: 400px;
    position: relative;
}

#paddle {
    background-color: blue;
    width: 20px;
    height: 75px;
    margin-left: 2px;
    position: absolute;
}

#ball {
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
}