:root {
    --teal: #031634;
    --cobalt: #033649;
    --turquoise: #066464;
    --beige: #CEB280;
    --gold: #EADDCC;
}
html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: var(--teal);
}

.section-turquoise {
    background-color: var(--turquoise);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

#intro {
    padding-bottom: 5rem;
}

#intro p{
    font-size: 1.5rem;
    line-height: 1.5;
}

.name span {
    display: block;
    color: var(--gold);
    font-size: 4rem;
}

.profile {
    padding-bottom: 1rem;
}

#intro h2 {
    font-size: 3rem;
    font-weight: normal;
}

#experience ul {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;

}

#experience li {
   list-style-type: none;
   padding: 1rem;
}

#experience a {
    color: white;
}

#hire {
    background-color: var(--turquoise);
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;
}

#hire p:last-child {
    margin-top: 3rem;;
}

nav {
    font-size: 80%;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    color: var(--beige);
    text-decoration: underline;
    font-size: 1.2rem;
}

nav li:first-child {
    flex-grow: 1;
    font-size: 1.5rem;
}