html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#parent {
    border: solid red 10px;
}

#parent div {
    border: solid blue 2px;
    padding: 20px;
    background-color: bisque;
}