html {
    /* Unless changed, every element has box-sizing as border-box */
    box-sizing: border-box; /* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
}
*, *:before, *:after {
    /* We allow the child to follow the parent box sizing */
    box-sizing: inherit; /* https://css-tricks.com/almanac/properties/b/box-sizing/  */
}
#demo {
    width: 200px;
    border: solid red 5px;
    /* border-style: dotted;
    border-width: 5px;
    border-color: red; */
    padding: 10px;
    margin-bottom: 10px;
}

#demo2 {
    width: 200px;
    border: solid red 5px;
    /* border-style: dotted;
    border-width: 5px;
    border-color: red; */
    /* padding: 10px; */
    /* box-sizing: content-box; */
}

#demo3 {
    border: solid blue 15px;
    /* width: 150px; */
    width: 150px;
}